@use '../../../styles/settings/variables' as colors;

.Playlist {
  border: 1px solid;
  color: colors.$white;
  padding: 15px;

  .Title {

  }
}

.PlaylistLight {
  border: 1px solid;
  color: red;
  padding: 15px;

  .Title {

  }
}
